@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  font-family: "raleway";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000;
  color: #ffffff;
}

.header {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(7, 25, 32, 0.8),
      rgba(7, 25, 32, 0.1)
    ),
    url("./assets/code.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 56px;
  gap: 16px;
  border-bottom: 1px solid #31a8dd;
}

.header p {
  font-weight: 400;
  font-size: 20px;
  line-height: 23.48px;
  max-width: 41ch;
}

.header a {
  font-weight: 900;
  font-size: 16px;
  line-height: 18.78px;
  letter-spacing: 21%;
  text-align: center;
  text-decoration: none;
  color: #31a8dd;
  padding: 19px 46px;
  border: 3px solid #31a8dd;
  margin-top: 8px;
}

@media (max-width: 340px) {
.header{
  padding: 45px;
}

  .header a{
    padding: 8px 24px;
  }
}

.main-title {
  font-size: 40px;
  font-weight: 900;
  line-height: 49.66px;
  background: linear-gradient(180deg, #33a8db, #1472b7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.secondary-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 37.57px;
  letter-spacing: 19%;
  color: #33a8db;
  text-align: center;
}

.intro {
  margin: 0 auto;
  padding: 90px;
  max-width: 792px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.intro a,
.intro p {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.78px;
  text-align: center;
}

.grifo {
  color: #33a8db;
}

li {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.intro a {
  background-color: #252525;
  padding: 16px 48px;
  border-radius: 50px;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5);
  border: 1px solid #33a8db;
}

.respiro {
  background-image: url("./assets/respiro.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 363px;
  border-top: 1px solid #33a8db;
  border-bottom: 1px solid #33a8db;
}

.respiro p {
  font-size: 40px;
  font-weight: 900;
  line-height: 49.66px;
  color: #ffffff;
  max-width: 10ch;
  text-shadow: 3px 3px 0px rgba(51, 168, 219, 1);
  padding: 111px 0px;
  padding-left: 198px;
}

@media (max-width: 600px) {
  .respiro{
    display: flex;
  }
  .respiro p{
    align-self: center;
    padding: 16px;
    margin: 0 auto;
  }
}

.evolucao {
  margin-top: 90px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
}

.evolucao p {
  max-width: 80ch;
}

.evolucao h1 {
  max-width: 30ch;
}

.evolucao img {
  max-width: 100%;
}

footer {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0),
    rgba(51, 168, 219, 0.2)
  );
  border-top: 1px solid #33a8db;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 60px;
  text-align: center;
}

footer span {
  font-weight: 700;
  color: #33a8db;
}
